// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

// .footer {
//   }

.footer__flex {
  display: flex;

  @media screen and (max-width: 767px) {
    padding: 44px 0;
    height: 138px;
    gap: 21px;
  }

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
}

.copyright {
  align-self: flex-end;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: $secondary-text-color;

  @media screen and (min-width: 768px) {
    padding: 56px 0;
  }
}
