.section-hero {
  margin: 0 auto;
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background/desktop/med-hero.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background/desktop/med-hero.jpg);
    }
  }
}

.flex-side {
  display: flex;
}

.hero-left-side {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero-right-side {
  position: relative;

  flex-grow: 1;

  @media screen and (min-width: 481px) and (max-width: 767px) {
    margin: 0 -15px;
    padding: 0 15px;
  }
  // Tablet screen
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background/desktop/med-hero.jpg);
    background-size: cover;
    margin-right: -15px;
    padding-right: 15px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background/desktop/med-hero.jpg);
    }
  }
  // Desktop screen
  @media screen and (min-width: 769px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background/desktop/med-hero.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background/desktop/med-hero.jpg);
    }
  }
}
