.form__flex {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.booking-flex {
  @media screen and (min-width: 1200px) {
    max-width: 1280px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

.booking-flex__item {
  flex-basis: calc(100% / 2);
}
